body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.drawBoard {
    cursor: crosshair;
}

.nav {
    background-color: rgb(182, 103, 255);
    text-align: center;
    padding: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    top: -14px;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  } 

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

input, select {
    width: 170px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid rgb(128, 0, 202);
    border-radius: 8px;
    box-sizing: border-box;
}

button, input[type=submit] {
    width: 170px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid rgb(155, 0, 121);
    border-radius: 8px;
    box-sizing: border-box;
    background-color: rgb(230, 43, 255);
}

#color {
    height: 40px;
    padding: 0px 0px;
}